header{background-color: rgb(75, 197, 233);overflow: hidden;text-align: center;margin: 0 auto;}
header p{margin: 0;}
header img{width: 100px;float: left;margin-left: 25%;}
#presentation{width: 50%;margin-right: 100px;float: right;}
#competence{background-color: wheat;float: left;height: 500px;width: 33%;text-align: center;margin: 50px;
            border-radius: 50px;}
#experience{background-color: aquamarine;float: right;height: 500px;width: 33%;text-align: center;margin: 50px;
            border-radius: 50px;}
#diplome{background-color: darkgoldenrod;float: right;height: 500px;width: 33%;text-align: center;margin: 50px;
                border-radius: 50px;}